{
	"$schema": "http://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		},
		"target": "es5",
		"paths": {
			"@shared/*": ["./dist/shared/*"],
			"@modules/*": ["./dist/modules/*"],
			"swagger.json": ["./src/swagger.json"],
			"@src/*": ["./src*"]
		}
	},
	"module": {
		"type": "commonjs",
		"lazy": true
	}
}
